<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#329e5e">
    <title>CARDIO</title>
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="static/vendor/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body style="padding: 0px;">
    <style type="text/css">
        #tooltip {
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 13px;
      }
    </style>
    <div class="main">

        <div class="container" style="width: 100%;">
            <div class="signup-content">
                <div class="signup-img" style="background-color: #329e5e;margin-bottom: 0px;">
                    <h2 style="padding: 20px 40px;"> CARDIOVASCULAR DISEASES PREDICTION</h2>
                    <p style="padding: 20px 30px;font-weight: 400;">
                        Here, I built a model that predicts the likelihood of cardiovascular diseases based on an individual's blood pressure, pulse rate, Body mass index, systolic and diastolic blood pressure and some other factors. 
                    </p>
                    <p style="padding: 20px 30px;font-weight: 400;">
                        This model has a high level of accuracy. It also points the individuals danger zone and profers recommendations.
                    </p>
                        <p style="padding: 20px 30px;font-weight: 400;">Start by Filling out your details below, then include details of yourself and honest as possible. When complete click <b>"Predict"</b> to Generate a Prediction.</p>

                </div>
                <div class="signup-form">
                    <form action="{{ url_for("predict")}}" method="POST" class="register-form" id="register-form" style=" padding: 43px 30px 90px 30px;margin-bottom: -27px;">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="age" class="required">Enter Age</label>
                                    <input type="text" name="age" id="age" />
                                </div>
                                <div class="form-input">
                                    <label for="last_name" class="required">Systolic B.P</label>
                                    <input type="text" name="systolic" id="systolic" />
                                </div>
                                <div class="form-input">
                                    <label for="diastolic" class="required">Diastolic B.P</label>
                                    <input type="text" name="diastolic"  id="diastolic" />
                                </div>
                                
                                <div class="form-input">
                                    <label for="pulse" class="required">Pulse Pressure</label>
                                    <input type="text" name="pulse" id="pulse"  />
                                </div>
                                <div class="form-input">
                                    <label for="bmi" class="required">Body Mass Index</label>
                                    <input type="text" name="bmi" id="bmi" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="gender">Gender</label>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="gender" id="m" value="male" checked>
                                            <label for="m">Male</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="gender" id="f" value="female">
                                            <label for="f">Female</label>
                                            <span class="check"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="cholesterol">Cholesterol</label>
                                        <a href="#" class="form-link">Cholesterol Detail</a>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="cholesterol" id="cabove normal" value="above normal" checked>
                                            <label for="cabove normal">Above normal</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="cholesterol" id="cextreme" value="extreme">
                                            <label for="cextreme">Extreme</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="cholesterol" id="cnormal" value="normal">
                                            <label for="cnormal"> Normal</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="glucose">Glucose</label>
                                        <a href="#" class="form-link" data-tippy-content="Another Tooltip">Glucose Detail</a>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="glucose" id="gabove normal" value="above normal" checked>
                                            <label for="gabove normal">Above normal</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="glucose" id="gextreme" value="extreme">
                                            <label for="gextreme">Extreme</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="glucose" id="gnormal" value="normal">
                                            <label for="gnormal"> Normal</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex;justify-content: space-between;">
                                    <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="smoke">Smoker</label>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="smoke" id="y" value="yes" checked>
                                            <label for="y"> Yes</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="smoke" id="n" value="no">
                                            <label for="n">No</label>
                                            <span class="check"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="alcohol">Alcohol</label>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="alcohol" id="ay" value="yes" checked>
                                            <label for="ay"> Yes</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="alcohol" id="an" value="no">
                                            <label for="an">No</label>
                                            <span class="check"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                                </div>
                                
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="active">Exercise Regularly</label>
                                    </div>
                                    <div class="form-radio-group">            
                                        <div class="form-radio-item">
                                            <input type="radio" name="active" id="ey" value="yes" checked>
                                            <label for="ey"> Yes</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="active" id="en" value="no">
                                            <label for="en">No</label>
                                            <span class="check"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="color: black;text-align: center;">{{ prediction_text}}</p>
                        <div class="form-submit">
                            <input type="submit" value="Predict" class="submit" id="submit" name="submit" />
                            <input type="reset" value="Reset" class="submit" id="reset" name="reset" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/nouislider/nouislider.min.js"></script>
    <script src="static/vendor/wnumb/wNumb.js"></script>
    <script src="static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="static/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="static/js/main.js"></script>
    
</body>
</html>